{% extends 'main/wrapper.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay"
    style="background-image: url({% static 'img/reservation-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2>
                            <span class="subheading">
                                Resto Бронь
                            </span>
                        </h2>

                    </div>
                    <form method="POST" name="reservation" class="text-center">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="col-12 form-group">
                            {% for e in form.errors.values %}
                            {{e}}
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <div class="col-12 form-group">
                            <div class="col-12">
                                {{ form.phon_number.label_tag }}
                            </div>
                            <div class="col-12 d-flex">
                                {{ form.phon_number }}
                            </div>
                            
                        </div>
                       

                        <div class="d-flex">
                            <div class="col-md-6 form-group px-0">
                                {{ form.date_bron.label_tag }}
                                <div class="col-12 form-group">
                                    {{ form.date_bron }}
                                </div>
                            </div>

                            <div class="col-md-6 form-group px-0">
                                {{ form.time_bron.label_tag }}
                                <div class="col-12 form-group">
                                    {{ form.time_bron }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 form-group">
                            <div class="col-12">
                                {{ form.person.label_tag }}
                            </div>
                            <div class="col-12">
                                {{ form.person }}
                            </div>
                        </div>

                        <div class="col-12 form-group">
                            {{ form.comment.label_tag }}
                            {{ form.comment }}
                        </div>

                        <div class="text-center">
                            <div class="form-group">
                                <button class="btn btn-warning" type="submit" style="color: rgb(87, 79, 79);">
                                    <b>Бронировать</b></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}