{% extends 'main/wrapper.html' %}
{% load static %}
{% block content %}
<div class="container-fluid gtco-logo-area">
    <div class="container">
        <div class="row">
            <div class="col"><img src="{% static 'images/logo1.png' %}" class="img-fluid" alt=""></div>
            <div class="col"><img src="{% static 'images/logo2.png' %}" class="img-fluid" alt=""></div>
            <div class="col"><img src="{% static 'images/logo3.png' %}" class="img-fluid" alt=""></div>
            <div class="col"><img src="{% static 'images/logo4.png' %}" class="img-fluid" alt=""></div>
            <div class="col"><img src="{% static 'images/logo5.png' %}" class="img-fluid" alt=""></div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-news" id="news">
    <div class="container">
        <h2>Latest News & Articles</h2>
        <div class="owl-carousel owl-carousel2 owl-theme">
            {% for item in data %}
            <div>
                <div class="card text-center"><img class="card-img-top" src="{% static item.img_path %}" alt="">
                    <div class="card-body text-left pr-0 pl-0">
                        <h5>{{item.header}} </h5>
                        <p class="card-text">{{item.definition}}
                            . . . </p>
                        <a href="#">READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock content %}